// scaffolding

body {
  font-family: $body-font-family;
  line-height: 1.5;
  color: $color-text;
	cursor: default;
}

// nav stuff
a.site-title {
	color: $color-text;
	font-weight: bold;
	letter-spacing: -5px;
	margin-right: -3px;
	font-size: 8em;
	text-decoration: none;
	background: linear-gradient(to left, white 50%, $color-highlighter 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all 0.5s ease-out;
	&:hover {
		background-position: left bottom;
	}
}
nav {
	@extend %slideIn;
	animation-delay: 0.2s;
	position: relative;
	right: 0;
	margin-top: -4em;
	text-align: right;
	li {
		@extend %slideIn;
		&:nth-child(1) {
			animation-delay: 0.3s;
		}
		&:nth-child(2) {
			animation-delay: 0.5s;
		}
		&:nth-child(3) {
			animation-delay: 0.7s;
		}
		&:nth-child(4) {
			animation-delay: 0.9s;
		}
		&:nth-child(5) {
			animation-delay: 1.1s;
		}
		margin-top: 5px;
		list-style-type: none;
		border-bottom: 1px solid #999;
		width: 300px;
		padding-bottom: 5px;
		a {
			font-weight: 500;
			padding-right: 5px;
			color: $color-text;
			font-size: 1.2rem;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}

	}

}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

// homepage

.homepage-container {
  min-height: 85vh;
  max-width: 60vw;
  margin: 0 auto;
  text-align: right;
  h1 {
    font-size: 4em;
    text-align: right;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 400;
    text-align: right;
  }
  h4 {
    font-weight: 400;
    font-size: 1.2em;
    text-align: right;
  }
  div.home-blurb-container {
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
    @extend %slideIn;
    animation-delay: 0.5s;
  }
}

header.home-header {
	@extend %slideIn;
	animation-delay: 0.3s;
	background-color: rgb(240,241,241);
	padding: 5em;
	margin: 10vh auto 3vh auto;
	div.header-left {
		margin-top: 3em;
		margin-left: 2em;
		width: 45%;
		display: inline-block;
		li {
			width: 100%;
			border-bottom: 1px solid black;
			list-style-type: none;
			margin: 1em 0 1em 0;
			text-align: right;
			a:hover {
				text-decoration: underline;
			}
		}
	}
	div.header-right {
		margin-top: 3em;
		padding-top: 8px;
		display: inline-block;
		text-align: right;
		margin-left: 2em;
		width: 45%;
    a {
      margin-left: 8px;
    }
	}
}

div.home-left {
  flex-grow: 1;
  margin-right: 8px;
}

div.home-right {
  flex-grow: 1;
  margin-left: 8px;
}

div.bottom-container {
  @extend %slideIn;
  margin-top: 32px;
  animation-delay: 0.6s;
  clear: both;
  display: flex;
      justify-content: space-evenly;
      margin-bottom: 16px;

}

div.home-bottom {
  flex-grow: 1;
}


.fa, .far, .fas, .fab {
	font-size: 1.5rem;
}

.fa:hover, .far:hover, .fas:hover, .fab:hover {
	color: teal;
}

// posts

article {
  min-height: 68vh;
	@extend %slideIn;
	animation-delay: 0.8s;
	clear: both;
	margin: 2em auto 4em auto;
  max-width: 60vw;
  font-size: $prose-font-size;
	a {
		background: $color-highlighter;
		color: #111;
		padding-left: 2px;
		padding-right: 2px;
		&:hover {
			text-decoration: underline;
		}
	}
}

// footer
footer {
  max-height: 100px;
  p {
    margin-top: 8px;
    margin-left: 8px;
  }
}
