// colours

$color-text: #181818;
$color-background: #fff;
$color-background-code: darkgrey;
$color-highlighter: yellow;
$border-top-color: #999;

// fonts

$body-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-size: 16px;
$prose-font-size: 20px;

// homepage
$header-background: #F0F1F1;
$header-text: #181818;

$blurb-left-background: transparent;
$blurb-left-text: inherit;
$blurb-right-background: transparent;
$blurb-right-text: inherit;
$blurb-bottom-background: transparent;
$blurb-bottom-text: inherit;
