// colours

$color-text: #181818;
$color-background: #fff;
$color-background-code: darkgrey;
$color-highlighter: yellow;

// fonts

$body-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-size: 16px;
$prose-font-size: 20px;
